* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Almarai", sans-serif;
}
.color-body {
  height: 100vh;
  background-color: #f8f8f8;
}
.font {
  font-family: "Almarai", sans-serif;
  font-family: "cairo", sans-serif;
  font-size: 19px;
}
.rect {
  height: 520px;
  margin-top: 11px;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  background-color: #ffffff;
  box-shadow: 1px 4px 4px 1px rgb(85, 85, 85, 0.25);
}
.dates-count {
  color: #555555;
  font-weight: 550px;
  margin-bottom: 20px;
}
.btn-style {
  border-radius: 7px;
  height: 45px;
  outline: none;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  width: 220px;
  color: beige;
  background-color: rgba(48, 4, 85, 0.788);
  margin-top: 9px;
}
.img-avatar {
  width: 63px;
  height: 63px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
